* {
    margin: 0;
    font-weight: 500;
    padding: 0;
    --yellow-color: #f49c39;
    --red-color: #dd3333;
}

.wrapper {
    overflow: hidden;
    position: relative;
}

h1,
p,
span,
a,
ul,
li {
    margin: 0;
    padding: 0;
    padding-left: 0;
}
ul {
    padding-left: 0 !important;
}
ul {
    list-style: none;
}

.row {
    overflow: hidden;
}
.swiper {
    width: 100%;
    height: 300px;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
    top: 55% !important;
}

/* .swiper .swiper-button-next{
    right: 40%;
}
.swiper .swiper-button-prev{
    left: 40%;
} */

.swiper2 {
    width: 100%;
}



.swiper-button-lock {
    display: block;
}

.swiper-button-next,
.swiper-button-prev {
    top: 19% !important;
}

.swiper2 .swiper-button-next{
    right: 4%;
}
.swiper2 .swiper-button-prev{
    left: 4%;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dropdown-toggle:hover {
    color: #fff;
    background-color: var(--yellow-color);
}
.dropdown-toggle {
    transition: 0.2s ease;
    background-color: var(--yellow-color);
    color: #fff;
    display: flex;
    align-items: center;
}

.header-container {
    flex-wrap: wrap;
}

.header-container ul li {
    text-transform: uppercase;
    cursor: pointer;
}
.logo h1 {
    color: var(--red-color);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    font-style: italic;
}

.logo p {
    font-size: 16px;
    text-transform: uppercase;
}

.sign-in-btn {
    cursor: pointer;
}

.search-wrap {
    background-color: #dd3333;
}
.dropdown {
    color: #fff;
}
.phone-number {
    margin: 5px;
    padding: 7px;
    border-radius: 10px;
    background-color: #f49c39;
    color: #fff;
    font-size: 16px;
}

.contact-btn {
    font-size: 16px;
    color: #fff;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
}
.search-wrap input {
    width: 350px;
}

.search-wrap .search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    color: #fff;
    border-radius: 3px;
    height: 100%;
    background-color: #f49c39;
    width: 30px;
}
.search-icon img {
    color: #fff;
}
input {
    font-size: 13px;
    color: #888;
    font-weight: 400;
    padding: 4px;
}

.news-section {
    margin-top: 30px;
}
.news-item {
    padding: 5px 10px 5px 0;
}
.news-item h3 {
    font-size: 17px;
}
.news-item p {
    font-size: 12px;
    color: #777;
}
.news-item img {
    width: 100%;
}
.box-list h3 {
    font-size: 17px;
}
.box-list p {
    font-size: 14px;
}
.box-list .col-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-list svg {
    width: 80%;
    height: 80%;

    align-items: center;
}

.box-list img {
    width: 80%;
    height: 80%;
}
.box-list .col-lg-4 {
    width: 30%;
}
.box-list {
    justify-content: space-between;
    color: #fff;
}

.product-list {
    margin-top: 50px;
}

.product-list .container {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background-color: #ccc;
}

.product-item {
    padding: 15px;
    background-color: #fff;
}

.product-item img {
    width: 100%;
}

.product-item p {
    text-align: center;
    margin-top: 6px;
    font-size: 17px;
}
.readmore {
    background-color: var(--red-color);
    padding: 10px;
    text-align: center;
    width: 100px;
    margin: 15px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.posts-title {
    border-bottom: 2px solid var(--red-color);
}
.posts-title h1 {
    background-color: var(--red-color);
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
}

.posts-title a {
    color: var(--red-color);
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.post-list {
    margin-top: 30px;
}

.post-item img {
    width: 100%;
    height: 220px;
}

.post-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 12px;
}

.post-item span {
    font-size: 15px;
    color: #888;
}
.post-item p {
    font-size: 18px;
    color: #666;
    font-weight: 400;
}
.form-section {
    background: url(./img/mountain.jpg) no-repeat;
    background-size: cover;
    padding-top: 20px;
}

.form-section-heading {
    color: #fff;
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
}

.form-section-text {
    font-size: 18px;
    max-width: 500px;
    margin: 20px auto;
    color: #ccc;
    text-align: center;
}

.form-wrap {
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    background-color: #fff;
}

.form-wrap .col-12 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-wrap .col-12 label {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
}
.form-wrap .col-12 input {
    padding: 4px;
    font-size: 14px;
}
.form-wrap .col-12 select {
    padding: 4px;
    font-size: 14px;
}

.form-wrap .row ~ .row {
    margin-top: 20px;
}

.copy {
    display: flex;
    align-items: center;
    gap: 5px;
}

.send-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4cd964;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
}

.contact-wrap {
    margin-top: 20px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding-bottom: 80px;
}
.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 15px;
}

.gallery {
    margin-top: 40px;
    padding-top: 40px;
}

.footer {
}

.footer ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.fb {
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    border: 1px solid #000;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.fb:hover {
    background-color: blue;
    color: #fff;
    border: 1px solid #fff;
}

.footer h2 {
    font-size: 22px;
}

.footer ul li {
    font-size: 18px;
}

.email-signup {
    display: flex;
    align-items: center;
}

.email-signup input {
    padding: 5px;
    font-size: 16px;
}

.email-signup {
    text-transform: uppercase;
    background-color: var(--red-color);
    color: #fff;
}

.social-list {
    display: flex;
    margin-top: 22px;
    align-items: center;
    gap: 5px;
}

.social-list img {
    cursor: pointer;
    width: 25px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-block-size: 100vh;
    padding: 5vmin;
}

img {
    block-size: auto;
    max-inline-size: 100%;
    vertical-align: middle;
}

/* Embed */

.embed {
    overflow: hidden;
    padding-block-start: 100%;
    position: relative;
}

.embed--1-2 {
    padding-top: calc(100% / (1 / 2));
}

.embed--2-1 {
    padding-top: calc(100% / (2 / 1));
}

.embed--2-3 {
    padding-top: calc(100% / (2 / 3));
}

.embed > * {
    height: 100%;
    left: 0;
    object-fit: cover;
    padding: 0.25em;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Gallery  */

.gallery-container {
    margin: 40px 0;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 35% 20% 45%;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 1023.98px) {
    .header-container {
        justify-content: center;
        padding-bottom: 20px;
    }
    .nav {
        width: 100%;
    }
    .posts-section {
        margin-top: 30px;
    }
    .search-box input {
        width: 100%;
    }
    .swiper-button-next,
    .swiper-button-prev {
        top: 28% !important;
    }
    .search-wrap {
        padding: 12px;
    }

    .post-item ~ .post-item {
        margin-top: 10px;
    }
}

@media screen and (max-width: 767.98px) {
    .form-section{
        padding: 0 20px;
    }
    .form-wrap{
        padding: 25px 5px;
    }
    .contact-wrap{
        flex-direction: column;
    }
    .nav {
        display: none !important;
    }
    .swiper2 .swiper-button-next{
        top: 27% !important;
    }
    .swiper2 .swiper-button-prev{
        top: 27% !important;

    }
    .navbar-collapse {
        position: absolute;
        top: 98%;
        background: #fff;
        width: 210px;
        padding: 10px;
        left: 0;
        border-radius: 10px;
        z-index: 99;
    }
}
